<div class="navbar">

    <div class="navbarLeft">
        <div class="logocontainer"><img src="" alt=""></div>
    </div>

    <div class="navbarRight">
        <div class="icons">
            <a href="/">home</a>
            <a href="/accounts">accounts</a>
        </div>
    </div>
</div>