<div class="pageTop">
    <div class="navbar">

        <div class="navbarLeft">
            <div class="logocontainer">
                <img src="images/logo.png" class="logo">
            </div>
        </div>

        <div class="navbarRight">
            <div class="icons">
                <a href="/accounts">accounts</a>
            </div>
        </div>
    </div>
    <div class="search">
        <div class="searchLeft">
            <button class="dropdown-btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <div class="searchCentre">
            <p>
                cv checker can be found here
            </p>
    
        </div>
        <div class="searchRight">
            <div class="searchBarContainer">
                <input type="text" placeholder="Search.." class="searchBar">
            </div>
        </div>
    </div>
</div>

<div class="dropdownContainer">
    <a href=""><i class="fa-solid fa-house" id="icons"></i>home</a>
    <a href=""><i class="fa-solid fa-pencil"></i>cv maker</a>
    <a href=""><i class="fa-solid fa-bell"></i>notifications</a>
    <a href=""><i class="fa-solid fa-bookmark"></i>saved placements</a>
</div>