<div class="header-container">
  <div class="logo-container">
    <img src="media/logo.png" alt="The PlacePal logo." id="header-logo" />
  </div>

  <div class="navbar">
    <button class="dropdown-btn">
      <i class="fa-solid fa-bars" style="color: #f0ead6"></i>
    </button>

    <input type="text" placeholder="Search.." class="searchBar" />
  </div>
</div>
