/*** All ***/
:root {
    --Background: #2D2D30;
    --components: #1E1E1E;
    --text: #D3D3D3;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--Background);
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    color: var(--text);
}

p {
    margin: 0;
}
/*** All ***/


/*** Nav bar ***/
.pageTop {
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
}

.navbarLeft {
    float: left;
}

.navbarRight {
    float: right;
}

.dropdown-btn{
    background: none;
    background-color: none;
    border: none;
    font-size: 20px;
}

.search {
    background-color: var(--components);
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: space-between
}

.searchLeft {
    display: flex;
    justify-content: left;
    align-items: center;
}

.searchCentre{
    display: flex;
    justify-content: center;
    align-items: center;   
    padding: 0;
    margin: 0;
}

.searchRight {
    display: flex;
    justify-content: right;
    align-items: center;
}

.searchBar{
    background-color: var(--text);
    margin-right: 20px;
    margin-left: 0;
    border-radius: 20px;
    width: 300px;
}

.logo {
    height: 60px;
    width: auto;
}

.fa-solid{
    margin-right: 15px;
}

.dropdownContainer {
    width: 200px;
    height: fit-content;
    position: fixed;
    overflow-x: hidden;
}
  
.dropdownContainer a {
    padding: 12px 8px 12px 16px;
    text-decoration: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    display: block;
    color: var(--text);
}
/*** Nav bar ***/

  

  
