<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PlacePal Home</title>
    <%- include('../partials/head') %>
  </head>
  <body>

      <%- include ('../partials/navbar') %>

<div class="main-container">
  <%- include ('../partials/sidebar') %>

</div>

  </body>
</html>
