<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PlacePal</title>
    <%- include(includePartial('partials/head.ejs')) %>
    <script src="/scripts/index.js"></script>
  </head>
  <body>
    <%- include(includePartial('partials/navbar.ejs')) %>

    <div class="main-container">
      <%- include(includePartial('partials/sidebar.ejs')) %>
      <ul id="opportunity-list">
      </ul>
    </div>
  </body>
</html>
