<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>University Feedback System</title>
    <link rel="stylesheet" href="/styles.css" />
    <!-- Link to external CSS -->
  </head>

  <body>
    <div class="container">
      <h2>PLACEPAL</h2>
      <form>
        <label>FILTER</label>
        <input />

        <label> </label>
      </form>
    </div>
  </body>
</html>
